.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form input[type="text"],
form select,
form textarea
{
  display:block;
  min-width: 250px;
  max-width: 250px;
  margin: 10px;
  padding: 5px;
}

form select{
  min-width: 264px;
  max-width: 264px;
}

form input[type="submit"]{
  background-color: #61dafb;
  border: 1px solid #1e6a7e;
  padding: 5px;
  min-width: 70px;
  max-width: 70px;
  cursor: pointer;
  transition: all 150ms;
}

form input[type="submit"]:hover{
  
  background-color: rgb(15, 193, 15);
  border: 1px solid green;
}
.userData{
  width: auto;
  height: 70px;
}
.gray{
  background-color: gray;
}
